html {
    font-family: 'Libre Baskerville', serif;
}
/*------------------------------------------------------------------------------BACKGROUND*/


.background-image {
    height: auto;
    background: url('../images/library_image_7.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.btn_small {
    height: 40px;
    width: 120px;
    line-height: 40px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task_header {
    margin-top: 5px;
}

.alert {
    height: 50px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

.heading-box {
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 10px;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.text-box {
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 10px;
}

h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 75px;
    margin-right: 75px;
}

/*------------------------------------------------------------------------------ABOUT*/

.about-text {
    font-size: 20px;
}

.container {
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}





#book-box {
    border: 0;
}

textarea {
    height: 8rem !important;
}
#book_picbook_image {
    width: 95%;
}

#book_picbook_image img {
    width: 100%;
}


.datepicker-date-display {
    background-color: #004d40;
}

.datepicker-day-button:focus {
    color: white !important;
    background-color: #004d40;
}

.datepicker-done,
.datepicker-cancel,
.select-dropdown li>span,
.is-today {
    color: #004d40 !important
}

td.is-selected,
.month-prev:active,
.month-prev:focus,
.month-next:active,
.month-next:focus {
    background-color: #004d40 !important
}

td.is-selected.is-today {
    color: black !important
}