/*------------------------------------------------------------------------------BACKGROUND*/

.index-container {
    height: 100vh;
    background: url('../images/library_image_3.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.btn_small {
    height: 40px;
    width: 120px;
    line-height: 40px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task_header {
    margin-top: 5px;
}

.alert {
    height: 50px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

