{% extends 'index.html' %}
{% block content %}
<div class="container center-align">
	<div class="row" style="margin: 0px;">
		<div class="text-box col s12">
			<h4 class="white-text center-align">About The Book Club</h4>
			<p class="left-align white-text about-text">The Book Club, established in 2020, has been developed with the reader in mind. It provides the user with
				the ability to maintain an individual library of books. Within this library the user can document books that they have read, books they hope to
				read, and rate the books they have finished.
				<br>
				<br>
                Furthermore, The Book Club acts as a central library database where the user can explore books from various authors, genres, and publishers, with a view to adding these books to their own library with the prospect of reading them in the future. Can't find a book you're looking for? You can add it to the central library. No longer want a book in your library? Simply delete it.
				<br>
				<br>
                If you have any suggestions that could improve the usability of the website, would like to recommend features that could improve your experience, or you simply just want to say hello, please send us a
				<a class="teal-text text-darken-4 about-text" href="{{ url_for('contact_page') }}"> message</a> via our contact page.
			</p>
		</div>
	</div>
</div>
{% endblock %}