{% extends 'index.html' %}
{% block content %}

<h3>Add book</h3>

<div class="row">
	<div action="" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">name</i>
				<input id="book_title" name="book_title" type="text" class="autocomplete">
				<label for="autocomplete-input">Book title</label>
			</div>
			<div class="input-field col s5">
				<i class="material-icons prefix">author</i>
				<input id="author_name" name="author_name" type="text" class="autocomplete">
				<label for="autocomplete-input">Author</label>
			</div>
			<div class="input-field col s4">
				<select>
                    <option value="" disabled selected>Choose the genre</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
				<label>Genre select</label>
			</div>
			<div class="input-field col s3">
				<i class="material-icons prefix">author</i>
				<input id="book_length" name="book_length" type="text" class="autocomplete">
				<label for="autocomplete-input">Book length</label>
			</div>		
			<div class="input-field col s5">
				<i class="material-icons prefix">name</i>
				<input id="publisher_name" name="publisher_name" type="text" class="autocomplete">
				<label for="autocomplete-input">Publisher</label>
			</div>
			<div class="input-field col s3">
				<i class="material-icons prefix">name</i>
				<input id="release_date" name="release_date" type="text" class="autocomplete">
				<label for="autocomplete-input">Release date</label>
			</div>
			<div class="input-field col s4">
				<i class="material-icons prefix">name</i>
				<input id="isbn_13" name="isbn_13" type="text" class="autocomplete">
				<label for="autocomplete-input">ISBN 13</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<i class="material-icons prefix">author</i>
				<input id="reader_name" name="reader_name" type="text" class="autocomplete">
				<label for="autocomplete-input">Name</label>
			</div>
			<div class="input-field col s3">
				<i class="material-icons prefix">name</i>
				<input id="reader_review_date" name="reader_review_date" type="text" class="autocomplete">
				<label for="autocomplete-input">Review date</label>
			</div>
			<div class="input-field col s3">
				<i class="material-icons prefix">name</i>
				<input id="reader_rating" name="reader_rating" type="text" class="autocomplete">
				<label for="autocomplete-input">Rating</label>
			</div>
		
			<div class="input-field col s12">
				<i class="material-icons prefix">author</i>
				<textarea id="reader_comment" name="reader_comment" class="materialize-textarea"></textarea>
				<label for="autocomplete-input">Book review</label>
			</div>
		</div>
	</div>
</div>


{% endblock %}