{% extends 'index.html' %}
{% block content %}

<h3 class="center-align text-box white-text" style="padding: 10px;">Add book to library</h3>


<div class="text-box row">
	<form action="{{ url_for('submit_book') }}" method="POST" class="col s12">
		<div class="row" style="margin: 10px;">
			<div class="white-text input-field col s12">
				<i class="material-icons prefix">menu_book</i>
				<input id="book_title" name="book_title" type="text" class="autocomplete_title">
				<label class="white-text" for="autocomplete-input">Book title</label>
			</div>
			<div class="white-text input-field col s12">
				<i class="material-icons prefix">menu_book</i>
				<input id="author_name" name="author_name" type="text" class="autocomplete_author">
				<label class="white-text" for="autocomplete-input">Author name 
                </label>
			</div>
			<div class="white-text input-field col s12">
				<i class="material-icons prefix">menu_book</i>
				<input id="genre_name" name="genre_name" type="text" class="autocomplete_genre">
				<label class="white-text" for="autocomplete-input">Genre</label>
			</div>
			<div class="white-text input-field col s12">
				<i class="material-icons prefix">menu_book</i>
				<input id="publisher_name" name="publisher_name" type="text" class="autocomplete_publisher">
				<label class="white-text" for="autocomplete-input">
                Publisher name
                </label>
			</div>
			<div class="white-text input-field col s2">
				<i class="material-icons prefix">menu_book</i>
				<input id="book_length" name="book_length" type="text" class="autocomplete">
				<label class="white-text" for="autocomplete-input">Book length</label>
			</div>
			<div id="matfix" class="white-text input-field col s5">
				<i class="material-icons prefix">today</i>
				<input id="release_date" name="release_date" type="text" class="datepicker">
				<label class="white-text" for="autocomplete-input">Release date</label>
			</div>
			<div class="white-text input-field col s5">
				<i class="material-icons prefix">code</i>
				<input id="isbn_13" name="isbn_13" type="text" class="autocomplete">
				<label class="white-text" for="autocomplete-input">ISBN 13</label>
			</div>
			<div class="row">
				<div class="center-align input-field col s12">
					<button class="btn waves-effect waves-light btn_small teal darken-4" type="submit" name="action">
                    Submit book<i class="material-icons right">playlist_add</i>
                    </button>
				</div>
			</div>
		</div>
	</form>
</div>


{% endblock %}