{% extends 'index.html' %}
{% block content %}

<h3>Add detail</h3>

<div class="row">
	<form action="{{ url_for('submit_book') }}" method="POST" class="col s12">
		<div class="row">
			 <div class="input-field col s12">
                <select id="book_title" name="book_title">
                    <option value="" disabled selected>Choose book title</option>
                    {% for title in title %}
                    <option value="{{title.book_title}}">{{title.book_title}}</option>
                    {% endfor %}
                </select>
                <label>Book title</label>
            </div>
			<div class="input-field col s12">
                <select id="author_name" name="author_name">
                    <option value="" disabled selected>Choose author</option>
                    {% for aut in author %}
                    <option value="{{aut.author_name}}">{{aut.author_name}}</option>
                    {% endfor %}
                </select>
                <label>Author name</label>
            </div>
			<div class="input-field col s12">
                <select id="genre_name" name="genre_name">
                    <option value="" disabled selected>Choose genre</option>
                    {% for gen in genre %}
                    <option value="{{gen.genre_name}}">{{gen.genre_name}}</option>
                    {% endfor %}
                </select>
                <label>Genre</label>
            </div>
			<div class="input-field col s3">
				<i class="material-icons prefix">menu_book</i>
				<input id="book_length" name="book_length" type="text" class="autocomplete">
				<label for="autocomplete-input">Book length</label>
			</div>
			<div class="input-field col s5">
				<i class="material-icons prefix">collections_bookmark</i>
				<input id="publisher_name" name="publisher_name" type="text" class="autocomplete">
				<label for="autocomplete-input">Publisher</label>
			</div>
			<div id="matfix" class="input-field col s3">
				<i class="material-icons prefix">today</i>
				<input id="release_date" name="release_date" type="text" class="datepicker">
				<label for="autocomplete-input">Release date</label>
			</div>
			<div class="input-field col s4">
				<i class="material-icons prefix">code</i>
				<input id="isbn_13" name="isbn_13" type="text" class="autocomplete">
				<label for="autocomplete-input">ISBN 13</label>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<button class="btn waves-effect waves-light btn_small teal darken-4" type="submit" name="action">
                    Submit detail<i class="material-icons right">playlist_add</i>
                    </button>
				</div>
			</div>
		</div>
	</form>
</div>


{% endblock %}