{% extends 'index.html' %}
{% block content %}
<div class="container">
	<h4 class="center-align heading-box white-text">Update book</h4>
	<div class="row">
		<form action="{{ url_for('update_book', book_id=book._id) }}" method="POST" class="text-box col s12">
			<div class="row" style="margin: 0px;">
				<div class="input-field col s12">
					<i class="material-icons prefix white-text">menu_book</i>
					<input id="book_title" name="book_title" type="text" class="autocomplete white-text" style="margin-bottom: 0px;" value="{{book.book_title}}">
					<label for="autocomplete-input white-text" style="margin-top: 5px; 5px; color: white;">Book title</label>
				</div>
				<div class="input-field col s12">
					<i class="material-icons prefix white-text">person</i>
					<input id="author_name" name="author_name" type="text" class="autocomplete white-text" style="margin-bottom: 0px;" value="{{book.author_name}}">
					<label for="autocomplete-input" style="margin-top: 5px; 5px; color: white;">Author</label>
				</div>
				<div class="input-field col s12">
					<i class="material-icons prefix white-text">folder</i>
					<input id="genre_name" name="genre_name" type="text" class="autocomplete white-text" style="margin-bottom: 0px;" value="{{book.genre_name}}">
					<label for="autocomplete-input" style="margin-top: 5px; 5px; color: white;">Genre</label>
				</div>
				<div class="input-field col s12 l6">
					<i class="material-icons prefix white-text">print</i>
					<input id="publisher_name" name="publisher_name" type="text" class="autocomplete white-text" style="margin-bottom: 0px;" value="{{book.publisher_name}}">
					<label for="autocomplete-input" style="margin-top: 5px; 5px; color: white;">Publisher</label>
				</div>
				<div class="input-field col s12 l6">
					<i class="material-icons prefix white-text">square_foot</i>
					<input id="book_length" name="book_length" type="text" class="autocomplete white-text" style="margin-bottom: 0px;" value="{{book.book_length}}">
					<label for="autocomplete-input" style="margin-top: 5px; 5px; color: white;">Book length</label>
				</div>

				<div id="matfix" class="input-field col s12 l6">
					<i class="material-icons prefix white-text">today</i>
					<input id="release_date" name="release_date" type="text" class="datepicker white-text" style="margin-bottom: 0px;" value="{{book.release_date}}">
					<label for="autocomplete-input" style="margin-top: 5px; color: white;">Release date</label>
				</div>
				<div class="input-field col s12 l6">
					<i class="material-icons prefix white-text">code</i>
					<input id="isbn_13" name="isbn_13" type="text" class="autocomplete white-text" style="margin-bottom: 0px;" value="{{book.isbn_13}}">
					<label for="autocomplete-input" style="margin-top: 5px; color: white;">ISBN 13</label>
				</div>
                <div class="input-field col s12 l6">
					<i class="material-icons prefix white-text">insert_photo</i>
					<input id="book_image" name="book_image" type="text" class="autocomplete white-text" style="margin-bottom: 0px;" value="{{book.book_image}}">
					<label for="autocomplete-input" style="margin-top: 5px; color: white;">Book image URL</label>
				</div>
                <div class="input-field col s12 l6">
					<i class="material-icons prefix white-text">shopping_cart</i>
					<input id="book_url" name="book_url" type="text" class="autocomplete white-text" style="margin-bottom: 0px;" value="{{book.book_url}}">
					<label for="autocomplete-input" style="margin-top: 5px; color: white;">Book purchase URL</label>
				</div>
				<div class="row"  style="margin: 0px;">
					<div class="input-field col s12 center-align">
						<button class="btn waves-effect waves-light btn_med teal darken-4" type="submit" name="action">
                    Update book<i class="material-icons right">publish</i>
                    </button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
        release_date = Date.parse('{{book.release_date}}');
        $('#release_date').pickadate('picker').set('select', release_date, {format: 'd mmmm, yyyy'}).trigger('change')
    });	 
</script>

{% endblock %}