<!DOCTYPE html>
<html>


<head>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">


</head>

<div class="navbar-fixed">
	<nav class="teal darken-4">
		<div id="nav-wrapper" class="nav-wrapper">
			<a href="{{ url_for('home') }}" class="brand-logo" style="margin: 0px 20px;">The Book Club</a>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i>
				<ul class="right hide-on-medium-and-down" style="margin: 0px 20px;">
					<li><a href="{{ url_for('get_library') }}"><i class="material-icons">collections_bookmark</i></a>

					</li>
					<li><a href="{{ url_for('add_book') }}"><i class="material-icons">library_add</i></a>

					</li>
					<li><a href="{{ url_for('my_library') }}"><i class="material-icons">local_library</i></a>
					</li>
				</ul>
			</a>
		</div>
	</nav>
</div>


<main class="background-image">
	<div class="text-detail container">
		{% block content %}
		{% endblock %}
	</div>
</main>


<footer class="page-footer teal darken-4">
	<div class="row">
		<div class="col l8 s8">
			<a href="{{ url_for('home') }}" class="white-text valign-wrapper">The Book Club</a>
		</div>
		<div class="col l2 s2">
			<ul class="list-inline social-links">
				<li class="list-inline-item">
					<a target="_blank" href="https://www.facebook.com/waterstones">
						<i class="fab fa-facebook-square" aria-hidden="true"></i>
						<span class="sr-only">Facebook</span>
					</a>
				</li>
				<li class="list-inline-item">
					<a target="_blank" href="https://twitter.com/waterstones">
						<i class="fab fa-twitter-square" aria-hidden="true"></i>
						<span class="sr-only">Twitter</span>
					</a>
				</li>
				<li class="list-inline-item">
					<a target="_blank" href="https://www.instagram.com/waterstones/">
						<i class="fab fa-instagram-square" aria-hidden="true"></i>
						<span class="sr-only">Instagram</span>
					</a>
				</li>
				<li class="list-inline-item">
					<a target="_blank" href="https://www.pinterest.co.uk/waterstones/">
						<i class="fab fa-pinterest-square" aria-hidden="true"></i>
						<span class="sr-only">Pinterest</span>
					</a>
				</li>
			</ul>

		</div>
		<div class="col l1 s1">
			<a href="{{ url_for('about_page') }}" class="white-text">About</a>
		</div>
		<div class="col l1 s1">
			<a href="{{ url_for('contact_page') }}" class="white-text">Contact</a>
		</div>
	</div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
	        $('.collapsible').collapsible();
            $('.dropdown-trigger').dropdown();
            $('.slider').slider();
            $('.modal').modal();
            $('select').formSelect();
            $('.datepicker').datepicker({
                autoClose: true,
                format: 'd mmmm, yyyy'
            });
            document.getElementById("matfix").addEventListener("click", function(e) {
	        e.stopPropagation();
            });
            $('input.autocomplete_title').autocomplete({
                data: {
                    {% for title in title %}
                    "{{title.book_title}}": null,
                    {% endfor %}
                    },
                    limit: 5,
            });
            $('input.autocomplete_author').autocomplete({
                data: {
                    {% for author in author %}
                    "{{author.author_name}}": null,
                    {% endfor %}
                    },
                    limit: 5,
            });
            $('input.autocomplete_genre').autocomplete({
                data: {
                    {% for genre in genre %}
                    "{{genre.genre_name}}": null,
                    {% endfor %}
                    },
                    limit: 5,
            });
            $('input.autocomplete_publisher').autocomplete({
                data: {
                    {% for publisher in publisher %}
                    "{{publisher.publisher_name}}": null,
                    {% endfor %}
                    },
                    limit: 5,
            });
            $('.sidenav').sidenav();
            });
            
  
        });
</script>


</html>