{% extends 'index.html' %}
{% block content %}
<div class="container">
	<h4 class="center-align heading-box white-text">Library</h4>
	<div class="row">
		<form class="col s12">
			<ul id="book-box" class="collapsible" style="margin: 0px; border: 0px;">
				{% for book in book %}
				<li style="margin-bottom: 2px;">
					<div id="book-title-box" class="row collapsible-header text-box" style="margin: 0px; border: 0px;">
						<div class="white-text col s9 valign-wrapper">
							<i class="material-icons">expand_more</i>
							<p style="margin: 0px;">{{book.book_title}} - {{book.author_name}}</p>
						</div>
						<div class="col s3 right-align" style="margin: 0px;">
							<div class="switch right-align">
								<a href="{{ url_for('add_to_mylibrary', book_id=book._id) }}" method="POST"
									class="btn waves-effect waves-light btn-med teal darken-4 valign-wrapper"
									type="submit"
									name="reader_library right-align"><i class="material-icons prefix center tooltipped" data-position="bottom" data-tooltip="Add to 'My library'">local_library add</i>
								</a>
							</div>
						</div>
					</div>
					<div id="book-detail-box" class="row collapsible-body text-box white-text" style="margin: 0px;">
						<div class="row" style="margin: 0px;">
							<div id="book_pic" class="col s12 l6 center-align">
								<a id="book_image" target="_blank"
								href="{{book.book_url}}"><img src="{{book.book_image}}"></a>
							</div>
							<div id="book-detail" class="col s12 l6 center-align" style="margin: 15px 0px 15px;">
								<span>
                                <strong>Genre:</strong> {{book.genre_name}}
			                    </span>
								<br>
								<span>
                                <strong>Publisher:</strong> {{book.publisher_name}}
                                </span>
								<br>
								<span>
                                <strong>Release date:</strong> {{book.release_date}}
                                </span>
								<br>
								<span>
                                <strong>Book length:</strong> {{book.book_length}}
                                </span>
								<br>
								<span>
                                <strong>ISBN 13: </strong>{{book.isbn_13}}
                                </span>
								<br>
								<a href="{{ url_for('edit_book', book_id=book._id)}}"
								class="waves-effect waves-light btn btn_med teal darken-4 center-align"
								style="margin-top:15px;"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Update book">publish</i></a>
							</div>
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</form>
	</div>
</div>
{% endblock %}