{% extends 'index.html' %}
{% block content %}
<div class="container">
	<h4 class="center-align heading-box white-text">My library</h4>
	<div class="row">
		<form class="col s12">
			<ul id="book-box" class="collapsible" style="margin: 0px;">
				{% for reader in reader %}
				<li style="margin-bottom: 2px;">
					<div id="book-box" class="row collapsible-header text-box" style="margin: 0px;">
						<div class="white-text col s9 valign-wrapper">
							<i class="material-icons">expand_more</i>
							{{reader.author_name}} - <strong>{{reader.book_title}}</strong>
						</div>
						<div class="col s3 right-align" style="margin: 0px;">
							<div class="switch right-align">
						<label>
                            <input href="{{url_for('read_book', reader_id=reader._id)}}" type="checkbox"/>
                            <span>Read?</span>
                        </label>
					</div>
						</div>
					</div>
					<div id="book-box" class="row collapsible-body text-box white-text" style="margin: 0px;">
						<div class="col s6">
							<span>
                            <strong>Genre:</strong> {{reader.genre_name}}
			            </span>
							<br>
							<span>
                            <strong>Publisher:</strong> {{reader.publisher_name}}
                        </span>
							<br>
							<span>
                            <strong>Release date:</strong> {{reader.release_date}}
                        </span>
							<br>
							<span>
                            <strong>Book length:</strong> {{reader.book_length}}
                        </span>
							<br>
							<span>
                            <strong>ISBN 13: </strong>{{reader.isbn_13}}
                        </span>
						</div>
						<div class="col s6 l3 right-align"></div>
						<div class="col s12 l3 right-align" style="margin-top: 5px;">
                        <div class="switch right-align">
							<a href="{{url_for('delete_book', reader_id=reader._id)}}"
						class="waves-effect waves-light btn btn_med teal darken-4 col s12">Delete book from
						my library</a>
						</div>
                        </div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</form>
	</div>
</div>
{% endblock %}